APP_NAME="Smart Paper Trading"

JWT_SECRET="paper-trading-app-jwt-secret-key-321-123"
NEXT_PUBLIC_APP_MODE="mock"

SUPABASE_URL=https://dsf.supabase.co
SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""


CLIENT_ID=FA180616_U
USER_ID=FA180616
PASSWORD=
SECRET_CODE=
AUTH_CODE=
OAUTH_URL=https://trade.shoonya.com/NorenWeb/authorize/oauth
ACCESS_TOKEN=
REFRESH_TOKEN=
ACCOUNT_ID=FA180616 
